.more {
  float: right;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  background-image: url('more.svg');
  background-repeat: no-repeat;
  background-position: center bottom;
}

.more:not(:disabled):not(.disabled) {
  cursor: pointer;
}

button.more{
  padding: 0;
  background-color: transparent;
  border: 0;
  -webkit-appearance: none;
}
button.more:focus,
button.more:active:focus,
button.more.focus,
button.more:active.focus,
button.more.active.focus{
  outline: none;
}
